.sprint 
	padding-bottom:  88px
	background: $text-color-y
   

.sprint-header 
   display: inline-grid
   grid-template-columns: 1fr 1fr
   grid-template-rows: 1fr

.left-header 



.left-info 

  
	padding-left: 160px 
	padding-top: 217px
	color: $text-color-b

		// .left-info__text

	&__text 
		grid: 2px
		font-family: 'DM Sans', sans-serif
      
		font-style: normal
		font-size: 51px  
      
		// .left-info__title

	&__title 

		font-family: 'Archivo', sans-serif     
		
		font-style: normal   
		font-size: 52px      
		
		// .left-info__discription

	&__discription 
		font-family: 'DM Sans' sans-serif
		font-style: normal
		font-size: 24px
		color: $text-color-b
		margin-top: 40px
		padding-bottom: 89px
.info
	display: grid
	padding-right: 40px
   
	&-txt		
		
		&__icon
		display: inline-flex
      
		align-content: center
		justify-content: center
		justify-content: flex-start
		align-items: center
         
         
		&__texts
			padding-left: 40px
         
			font-style: normal
			font-size: 18px
			font-family: 'DM Sans' sans-serif


.right-header 
   padding-top: 124px
.right-icon 

		// .right-icon__img1

		&__img1 
		

		// .right-icon__img2

		&__img2 
		

.right-img 

